// Specific CSS for your home-page
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.font-starwars {
  font-family: $my-font !important;
  text-transform: uppercase !important;
  color: #fffd01;
}

h2 {
  margin: 50px;
}
.ships-show {
  background-color: #F4F4F4;
  margin-top: 50px;
  margin-bottom: 50px;
}
.ships-show-title {
  text-align: center;
  margin-bottom: 50px;
}
.reviews-show {
  background-color: white;
  padding: 30px;
  margin-bottom: 50px;
}
.title-reviews-show {
  text-align: center;
  margin-bottom: 40px;
}
