#banner-bookings {
  height: 30vh;
}

.card-dates {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
}

#price-booked {
  opacity: 0.7;
  font-weight: lighter;
}
.bookings-show {
	min-height: 100vh;
}