<div class="wrapper">
	<div class="container">
		<h1>Find the nearest starship</h1>
		<h2>Cheaper, nearer, more convenient</h2>
		<%= simple_form_for(@ship) do |f| %>
		  <%= f.input :address %>
		  <%= f.button :submit %>
		<% end %>
	</div>
</div>

