<div class="wrapper">
	<div class="container">
		<h1 class="font-starwars">RENT THE  BEST STARSHIPS</h1>
		<h2 class="font-starwars">VISIT SPACE AS NEVER BEFORE</h2>
		<%= render 'shared/search_form' %>
	</div>
</div>
<div class="wrapper">
	<div class="container">
		<% @ships.each do |ship| %>
			<p><%= ship.user.name %></p>
			<p><%= ship.address %></p>
		<% end %>
	</div>
</div>
