<div class="wrapper">
	<div class="container">
		<h1>Find the best starship</h1>
		<h2>Cheaper, nearer, more convenient</h2>
		<%= render 'shared/search_form' %>
	</div>
</div>
<div class="wrapper">
	<div class="container">
		<% @ships.each do |ship| %>
			<p><%= ship.user.name %></p>
			<p><%= ship.address %></p>
		<% end %>
	</div>
</div>