.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.card-description {
  position: absolute;
  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-price {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 15px;
}

.card-rating {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 15px;
  p {
    margin: 0;
  }
}

#star-rating-good {
  color: $yellow;
}

#star-rating-bad {
  color: grey;
}

#add-a-ship {
  border-radius: 2px;
}

#add-a-ship:hover{
}
